.line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: #fafafa;
  text-align: center;
}

.lineActive {
  background-color: #f0f0f0;
}

.line div {
  flex: 1 0 5%;
}

.line p:nth-child(3) {
  flex: 1 0 21%;
}

.inputAddress {
  margin-right: 7px;
}